:root{
    --light-grey: rgb(33, 33, 33);
    --dark-grey: rgb(22, 22, 22);
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 0;
    margin: 0;
    color: white;
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridspot{
    width: 198px;
    height: 198px;
    border: solid black 1px;
    font-size: 200px;
    color: black;
}

.header, .footer{
    background-color: var(--light-grey);
}

.main-content{
    background-color: var(--dark-grey);
    height: calc(100vh - 200px);
    flex-direction: row;
    justify-content: space-evenly;
}

.player-one, .player-two{
    background-color: var(--light-grey);
    border-radius: 2rem;
    width: 250px;
    height: 150px;
}

.player-one h3, .player-two h3{
    margin: 0;
}

#playerOne-name, #playerTwo-name{
    margin: 8px;
}

.game-container{
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.restart{
    height: 150px;
    background-color:var(--light-grey);
    border-radius: 1rem;
    border: none;
    text-align: center;
}

.restart h1{
    margin-top: 0;
    margin-bottom: 27px;
    color: white;
}

#restart-button{
    border-radius: 1rem;
    font-size: 3rem;
    padding: 8px 16px 8px 16px;
}