:root{
    --light-grey: rgb(33, 33, 33);
    --dark-grey: rgb(22, 22, 22);
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 0;
    margin: 0;
    color: white;
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header, .footer{
    background-color: var(--light-grey);
}

.main-content{
    background-color: var(--dark-grey);
    height: calc(100vh - 200px);
    flex-direction: row;

.player-one, .player-two{
    border: solid red 1px;
    width: 250px;
    height: 150px;
}

.player-one h3, .player-two h3{
    margin: 0;
}

#playerOne-name, #playerTwo-name{
    margin: 8px;
}

.game-container{
    width: 500px;
    height: 500px;
    border: solid red 1px;
}